body {
    background-color: #070F2B;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: #1B1A55;
}

h1 {
    color: white;
    text-align: center;
}

section {
    background-color: #535C91;
}

footer {
    background-color: #9290C3;
}